body{
	font-family: sans-serif;
	font-size: 16px;
	background-color: #303030;
	color: black;
}
table{
	border-collapse: collapse;
	background-color: #CC99CC;
}
td.header, td.subheader, td.intro, td.calculator, td.table1, td.table2, td.table3{
	border: 12px solid #AA952A;
	border-left-width: 50px;
	border-right-width: 50px;
}
td.header, td.subheader, td.footer{
	padding: 8px;
	line-height: 24px;
}
td.header{
	border-top-width: 16px;
}
td.footer{
	border-bottom-width: 16px;
}
td.intro{
	text-align: left;
	font-size: 18px;
	padding: 25px;
	line-height: 27px;
}
td.calculator, td.table1, td.table2, td.table3{
	width: 800px;
	padding-top: 0px;
	padding-bottom: 20px;
	line-height: 14px;
}
td.calculator{
	padding-top: 5px;
}
td.table1{
	height: 2011px;
}
td.table2{
	height: 828px;
}
td.table3{
	height: 897px
}
th, td{
	border: 2px solid;
	text-align: center;
	padding: 10px;
	width: 35px;
	border-color: #44354C;
}
th{
	border-top: 4px solid;
	border-bottom: 4px solid;
 	border-color: #44354C;
}
th.names{
	width: 70px;
}
th.classes{
	width: 120px;
}
th.charmenu{
	width: 77px;
}
th.classmenu{
	width: 126px;
}
th.statmenu{
	width: 45px;
}
th.parents{
	width: 86px;
}
th.levels{
	width: 92px;
}
table#main{
	margin-left: auto; 
	margin-right: auto;
	padding: 10px;
}
table.statstable{
	margin-left: auto; 
	margin-right: auto;
}
a:link, a:visited{
  color: #4C004C;
}